<?xml version="1.0"?>
<model>
  <name>sjtu_drone_modified</name>
  <version>1.0</version>
  <sdf version='1.4'>sjtu_drone_modified.sdf</sdf>

  <author>
   <name>Jackson Russell</name>
   <email>jackrussell772@gmail.com</email>
  </author>

  <description>
    The quadrotor model remade for rs2 humble gazebo ignition
  </description>
</model>